:root{
    --font-body: Roboto, sans-serif;
    --font-headline: Bubblegum_Sans, sans-serif;
    /* colors */
    --primary-color: #103740;
    --secondary-color: #F2D0A7;
    --tertiary-color: #F20505;
    --medium-yellow: #F29F05;
    --dark-yellow: #f28705;

    /* sizes */
    --font-base: 18px;
    --small-font: 0.8em;
    --large-font: 1.2em;
}


body {
 font-family: var(--font-body);
 font-size: var(--font-base);
 color: var(--primary-color);

}
main{
    display: flex;
   flex-direction: column;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    
}
Header{
    display: flex;
    justify-content: space-between;
    padding: 0 10px; 
}

.logo img{
    height:auto;
    width:30%;
}

.welcomePop{
    display: none;
    position: fixed;
    left:10%;
    width: 80%;
    height: 80%;
    background: white;
    color:var(--primary-color);
    padding:20px;
    box-sizing: border-box;
    overflow-y: auto;
    height: 70%;
    border-style: ridge;
    border-color: #103740;
    border-width: 2%;
   
   
}
.pop-content{
    text-align: center;
}
form {
    grid-row: 1/4;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: .5fr 1fr ;
    background-color: var(--primary-color);
    color: white;
    justify-content: center;
    /* align-items: flex-start; */
    
}
form h2 {
    font-weight: bolder;
    
}
form p {
    color:#F2D0A7;
   
}

.formTitle{
    color: white;
    padding-left: 20px;
}
.inputs{
    display: grid;
    grid-template-columns: 30%  10% 30%  30%;
    grid-template-rows: 1fr  1fr 1fr 1fr;
    padding-left: 10px;
}
button{
    grid-row:3/4;
    padding: .5em 2em;
    background-color: var(--medium-yellow);
    color: var(--primary-color);
    margin: auto;
    display:block;
    border-radius: 20px;
    border:0;
    font-size: var(--font-base);
    cursor: pointer;
}
#backButton::before{
    content: none;
}
.button{
    grid-row: 4/5;
    grid-column: 1/5;
}
.rectangle_URL{
    display: grid;
    margin:2px;
    padding-left: 10px;
    margin-left: 10px;
    height:30px;
    width: 100%;
    border-radius: 7px;
    grid-column: 1/4;
    grid-row: 1/2;
    color:lightslategray;
   
}
.rectangle_Fix{
    display: grid;
    grid-column: 1/2;
    grid-row:2/3;
    margin:6px;
    margin-left: 10px;
    height:30px;
    width: 90%;
    border-radius: 7px;
    color:lightslategray;
    padding-left: 10px;   
    
}


/* Popup container */
.popup {
    grid-column: 2/3; 
    grid-row: 2/3; 
    margin-top: 10px; 
}
.popup2 {
    grid-column: 2/3;
    grid-row: 3/4;
    margin-top: 10px; 
}  
.popup_Fix{
    grid-row:2/3;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    background-color: var(--medium-yellow);
    color: #fff;
    cursor: pointer;
}
.popup .popupFixText {
    display: none;
    width: 200px;
    background-color: var(--medium-yellow);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 50%;
    transform:translateX(-50%)
}
.popup_Sac{
    grid-row: 3/4;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    background-color: var(--medium-yellow);
    color: #fff;
    cursor: pointer;
}
.popup2 .popupSacText {
    display: none;
    width: 200px;
    background-color: var(--medium-yellow);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 50%;
    transform:translateX(-50%)
}  
.popup .popupFixText.show {
    display: block;
}
.popup2 .popupSacText.show2 {
    display: block;
} 

.rectangle_Sac{
    display: grid;
    grid-row: 3/4;
    grid-column: 1/2;
    margin:5px;
    margin-left: 10px;
    height:30px;
    width: 90%;
    border-radius: 7px;
    color:lightslategray;
    padding-left: 10px;
}
svg {
    grid-row: 4;
    grid-column: 1;
    align-self: end;
    margin-top: auto;
    width: 100%;
  
}

.rectangle_Text{
    grid-row: 2/3;
    height:99%;
    width: 95%;
    padding: 10px;  
} 
.threeURLs {
    font: var(--font-body);
    color:#103740;
    list-style-type: none;
    padding: 10px;
    border-radius: 5px;
    margin:10px;
    max-width: 300px;
    

}
ul.threeURLs {
    list-style-type: circle ;
    padding: 0;
    
}

ul.threeURLs li {
    margin-bottom: 8px;
    
}

ul.threeURLs li a {
    text-decoration: none;
    color:#103740;
}
.urlTitle h2{
    text-decoration: underline;
}
.footer{
    font-weight: bold;
    padding-left: 10px;
    margin-top: 50px;
    font-size: 12px;
}

@media only screen and (min-width: 500px) {
form {
    width: 600px;
}
.rectangle_URL{
    width: 300px; 
}
.rectangle_Fix{
    width: 100px;       
}
.rectangle_Sac{
    width: 100px;
}
.inputs{
    display: grid;
    grid-template-columns: 20%  20% 30%  30%;
    grid-template-rows: 1fr  1fr 1fr 1fr;
    padding-left: 10px;
}
.popup {
    grid-column: 2/3; 
    grid-row: 2/3; 
    margin-top: 10px; 
}
.popup2 {
    grid-column: 2/3;
    grid-row: 3/4;
    margin-top: 10px; 
} 
}