body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    
  }
  .box {
    position: relative;
    width: 500px;
    height: 500px;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .box::before,
  .box::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .box::before {
    top: 0;
    left: 0;
    background-color: rgb(220, 188, 236);
    animation: colorOverlay 12s infinite alternate;
  }
  
  .box::after {
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    background-color: transparent;
    animation: colorOverlay2 12s infinite alternate;
    z-index: -1;
  }
  
  @keyframes colorOverlay {
    0%, 100% {
      transform: translate(0, 0);
      opacity: 0;
    }
    50% {
      transform: translate(100px, -100px);
      opacity: 1;
    }
  }
  
  @keyframes colorOverlay2 {
    0%, 100% {
      transform: translate(0, 0);
      opacity: 0;
    }
    50% {
      transform: translate(-100px, -100px);
      opacity: 1;
    }
  }
  