body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    
  }
  .box {
    background-color: cornflowerblue;
    width: 100px;
    height: 100px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: myanima 6s infinite alternate;
  }
  
  @keyframes myanima {
    0% {
      transform: translateY(0);
      background-color: #abe;
    }
    50% {
      transform: translateX(50px) translateY(-50px);
      background-color: #24a;
      color: #fff;
    }
    100% {
      transform: translateX(-50px) translateY(-50px);
      background-color: #57d;
    }
  }
  